.challengeBoxContainer {
  height: 100%;

  background: var(--white);
  border-radius: 5px;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
  padding: 1.5rem 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
}
.challengeNotActive {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.challengeNotActive strong {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.4;
  width: 90%;
}

.challengeNotActive p {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.4;
  max-width: 80%;
  margin-top: 3rem;
}
.challengeNotActive p img {
  width: 2.3rem;
  height: 2.3rem; 
  margin-right: 15px;
}

.challengeActive {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.challengeActive header {
  color: var(--blue);
  font-weight: 600;
  font-size: 1.25rem;
  padding: 0 2rem 1.5rem;
  border-bottom: 1px solid var(--gray-line);
}
.challengeActive main {
  flex: 1;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.challengeActive main strong {
  font-size: 2rem;
  font-weight: 600;
  color: var(--title);
  margin: 1.rem 0 1rem;
  margin-bottom: 15px;
  margin-top: 10px;
}

.challengeActive footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.challengeActive footer button {
  width: 10.8rem;
  height: 3.1rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--white);
  border: 1px solid;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.challengeActive footer button:hover {
  
}
.challengeActive footer > button:first-child {
  background: var(--red);
}
.challengeActive footer > button:first-child:hover  {
  background: #ba3249;
  transition: 0.2s;
}

.challengeActive footer > button:last-child {
  background: var(--green);
}
.challengeActive footer > button:last-child:hover {
  background: #44c127;
  transition: 0.2s;
}